* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--yellow);
/*     scroll-snap-type: y;
 */}
:root {
    --yellow: #ffcf5c;
    --caramel: #d19334;
    --milk: #FFE9B9;
    --soft-black: #4b473c;
}
html, body, main {
    block-size: 100%;
}
header {
    background-color: var(--caramel);
    width: 90%;
    margin: 10px auto 0 auto;
    border-radius: 11px;
}
header .title {
    font-family: 'Patua One', cursive;
    font-size: 3.6rem;
    padding: 10px;
    font-weight: lighter;
    color: var(--milk);
}
header span { 
    font-size: 3.6rem;
}
main {
    background-color: var(--caramel);
    min-height: 200vh;
    /* position: relative; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}


main .country-select {
    width: 300px;
    /* min-height: 200px; */
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 11px;
    background-color: var(--yellow);
/*     display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px; */
}
main .countries {
    display: flex;
    gap: 10px;
}
main .country-select .box {
    width: 500px;
    height: 80px;
    border: solid 1px red;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    background-image: url(./images/mxFlag.png);
}
.country-select h2 {
    font-family:'Patua One', cursive;
    font-size: 2.5rem;
}
.country-select p {
    font-family:'Patua One', cursive;
    font-size: 2.3rem;
}

           /* footer */
footer {
    position: sticky;
    bottom: 0;
    background-color: var(--yellow);
    box-shadow:  -2px -20px 31px -5px rgba(0, 0, 0, 0.24);
-webkit-box-shadow:  -2px -20px 31px -5px rgba(0, 0, 0, 0.24);
}
footer nav {
    display: flex;
    justify-content: space-evenly;
}
footer nav .box {
 /*    width: 50px;
    height: 50px;
    border-radius: 5px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer nav .box p {
    font-family: 'Patua One', sans-serif;
    text-align: center;
    margin: 3px;
    color: #000;
}
footer nav a {
    text-decoration: none;
}
footer nav .salary span {
    background-image: url(./images/money_coins.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer nav .disscounts span {
    background-image: url(./images/money_interest.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer nav .home span {
    background-image: url(./images/house_framework.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer nav .paygap {
    background-color: var(--milk);
    border-radius: 5px;

}
footer nav .figures span {
    background-image: url(./images/shapes-figures.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer nav .paygap span {
    background-image: url(./images/podium.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}







