
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--yellow);
    scroll-snap-type: y;
}
:root {
    --yellow: #ffcf5c;
    --caramel: #d19334;
}
html, body, main {
    block-size: 100%;
  }
header {
    background-color: var(--caramel);
    width: 90%;
    margin: 10px auto 0 auto;
    border-radius: 11px;
}
header .title {
    font-family: 'Patua One', cursive;
    font-size: 3.6rem;
    padding: 10px;
}
main {
    background-color: var(--caramel);
    height: 100vh;
    /* position: relative; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

main .cuadrado {
    width: 300px;
    height: 200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 11px;
    background-color: var(--yellow);
    
}
.cuadrado h2 {
    font-family:'Patua One', cursive;
    font-size: 2.5rem;
}
main form .square-ask {
    font-family:'Patua One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #000;
}
#InputLadoCuadrado {
    border-radius: 4px;
    height: 23px;
    width: 100px;
    border: solid 3px;
    vertical-align: 2px;
    margin-left: 5px;
}
.cuadrado form button {
    margin-top: 10px;
    padding: 5px;
    font-family:'Patua One', cursive;
    border-radius: 4px;
    border: solid 3px;
}
#squareResult {
    margin-top: 10px;
    font-family: 'Patua One', cursive;
    font-size: 2rem;
}
/* triangle */
main .triangulo {
    width: 300px;
    /* height: 200px; */
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 11px;
    background-color: var(--yellow);
    
}
.triangulo h2 {
    font-family:'Patua One', cursive;
    font-size: 2.5rem;
}
main form .triangle-ask {
    font-family:'Patua One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #000;
}
.triangulo form input {
    border-radius: 4px;
    height: 23px;
    width: 60px;
    border: solid 3px;
    vertical-align: 2px;
    margin-left: 5px;
    margin-top: 10px;
}
.triangulo form span {
    font-family:'Patua One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #000;
}
.triangulo form button {
    margin-top: 10px;
    padding: 5px;
    font-family:'Patua One', cursive;
    border-radius: 4px;
    border: solid 3px;
}
#triangleResult {
    margin-top: 10px;
    font-family: 'Patua One', cursive;
    font-size: 2rem;
}

/* circle */
main .circulo {
    width: 300px;
    height: 200px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 11px;
    background-color: var(--yellow);
    
}
.circulo h2 {
    font-family:'Patua One', cursive;
    font-size: 2.5rem;
}
main form .square-ask {
    font-family:'Patua One', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: #000;
}
#InputLadoCuadrado {
    border-radius: 4px;
    height: 23px;
    width: 100px;
    border: solid 3px;
    vertical-align: 2px;
    margin-left: 5px;
}
.circulo form button {
    margin-top: 10px;
    padding: 5px;
    font-family:'Patua One', cursive;
    border-radius: 4px;
    border: solid 3px;
}
#squareResult {
    margin-top: 10px;
    font-family: 'Patua One', cursive;
    font-size: 2rem;
}
           /* footer */
footer {
    position: sticky;
    bottom: 0;
    background-color: var(--yellow);
    box-shadow:  -2px -20px 31px -5px rgba(0, 0, 0, 0.24);
-webkit-box-shadow:  -2px -20px 31px -5px rgba(0, 0, 0, 0.24);
}
footer nav {
    display: flex;
    justify-content: space-evenly;
}
footer nav .box {
    width: 50px;
    height: 50px;
    border: solid 2px #000;
    border-radius: 5px;
    margin: 10px;
}





